html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 list-style: none;

}




#content{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;

}

#main{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-direction: column;
}

.background{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: -9001;
}


.contents{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  border-radius: 10px;
  overflow: hidden;
  min-width: 600px;
  min-height: 360px;

}


.content-left{
  background-color: grey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
}

.image-container{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image{
  max-height:80%;
  width: 80%;
  height: auto;
}

.description-container{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




input, select, textarea{
    color: white;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    width: 40%;
    font-size: 18px;
}




.content-right{
  background-color: white;
  height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#canvas{
  width:100%;
  height: auto;
}

.board-list{
  width: 100%;
  overflow: scroll;
  height: 70%;
  overflow-x: hidden;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.board-item{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin-it{
  margin-left: 30px;
  background-color: maroon;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  visibility: hidden;
}

.board-item:hover .pin-it{
  visibility: visible;;
}

.board-item:hover{
  background-color: lightgrey;
}

.board-name{
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
}
